<!DOCTYPE html>
<html>
  <head>
    <title>EatStreet</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/cover.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <script>
      window.onload = function() {
        getLocation();
      }
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          console.log("Geolocation is not supported by this browser.");
        }
      }
      function showPosition(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = long;
      }
    </script>
   

    <div class="site-wrapper" >

        <div class="site-wrapper-inner" style="background: url('/images/cover.jpg') no-repeat scroll 0px 100%"> 

          <div class="cover-container">
            <div class="masthead clearfix">
              <div class="inner">
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/locations">Location</a></li>
                </ul>
              </div>
            </div>
            <div class="inner cover">
              <h1 class="cover-heading">EatStreet</h1>
              <p class="lead">Connect with your friends and find a commonplace to meet! EatStreet works by finding the best rated restaurants within a short radius of the center point of your group.</p>
              <p class="lead">
                <form method="post" action="/">
                  <div style="float:left">
                    <input type="text" id="name" name="name" placeholder="Enter your name"><br>
                    <input type="text" id="newgroup" name="newgroup" placeholder="Enter a group name"><br>
                    <input type="hidden" name="longitude" id="longitude" value="">
                    <input type="hidden" name="latitude" id="latitude" value="">
                    <button type="submit" class="btn btn-lg btn-default">Create Group</button>
                  </div>
                  <div style="float:right">
                    <input type="text" id="name" name="username" placeholder="Enter your name"><br>
                    <input type="text" id="newgroup" name="groupid" placeholder="Enter your Group ID"><br>
                    <button type="submit" class="btn btn-lg btn-default">Join Group</button>
                  </div>
                </form> 
              </p>
            </div>

          </div>

        </div>

      </div>




      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
  </body>
</html>