extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  script.
    window.onload = function() {
      getLocation();
    }
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        console.log("Geolocation is not supported by this browser.");
      }
    }
    function showPosition(position) {
      var lat = position.coords.latitude;
      var long = position.coords.longitude;
      document.getElementById('latitude').value = lat;
      document.getElementById('longitude').value = long;
    }
  //br
  //button(onclick='getLocation()') Get your position
  br
  br
  form(method='post')
    input(type='text', name='name', placeholder='Enter your name')
    input(type='text', name='newgroup', placeholder='Enter a group name')
    br
    input(type='hidden', name='longitude', id='longitude', value='')
    input(type='hidden', name='latitude', id='latitude', value='')
    button(type='submit') Create Group
    br
    br
    input(type='text', name='username' placeholder='Enter your name')
    input(type='text', name='groupid' placeholder='Enter your Group ID')
    button(type='submit') Join Group

