/* Text Box */
#name {
	width:300px;
	height:45px;
	padding-left:15px;
	border-radius:10px;
	margin-top:30px;
	font-size:20px;
	color:black;
}
#newgroup {
	width:300px;
	height:45px;
	padding-left:15px;
	border-radius:10px;
	margin-top:10px;
	font-size:20px;
	color:black;
}
#submitButton {
	width:200px;
	height:45px;
	padding-left:15px;
	border-radius:10px;
	margin-top:10px;
	font-size:20px;
	color:black;
}
#mapholder {
	margin-top:30px;
	margin-left:20px;
}